@page
@model WebApplication1.Pages.HumanResourceModel
@{
}

<div class="text-center">
    <h1 class="display-4">Human Resource</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Human Resource Page!</a>.</p>
</div>
