@page
@model WebApplication1.Pages.LoginModel
@{
}
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label class="form-label" asp-for="Input.Email">Email Address</label>
        <input type="text" asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Input.Password">Password</label>
        <input type="password" asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
